**Zackaria Mamdouh | Group 6 | Question 5**

In [ ]:
-- Question 5
-- Run the following code to create and populate the EmpYearOrders table:
USE TSQLV4;

DROP TABLE IF EXISTS dbo.EmpYearOrders;

CREATE TABLE dbo.EmpYearOrders
(
  empid INT NOT NULL
    CONSTRAINT PK_EmpYearOrders PRIMARY KEY,
  cnt2014 INT NULL,
  cnt2015 INT NULL,
  cnt2016 INT NULL
);

INSERT INTO dbo.EmpYearOrders(empid, cnt2014, cnt2015, cnt2016)
  SELECT empid, [2014] AS cnt2014, [2015] AS cnt2015, [2016] AS cnt2016
  FROM (SELECT empid, YEAR(orderdate) AS orderyear
        FROM dbo.Orders) AS D
    PIVOT(COUNT(orderyear)
          FOR orderyear IN([2014], [2015], [2016])) AS P;

SELECT * FROM dbo.EmpYearOrders;

-- Output:
empid       cnt2014     cnt2015     cnt2016
----------- ----------- ----------- -----------
1           1           1           1
2           1           2           1
3           2           0           2

-- Write a query against the EmpYearOrders table that unpivots
-- the data, returning a row for each employee and order year
-- with the number of orders
-- Exclude rows where the number of orders is 0
-- (in our example, employee 3 in year 2016)

-- Desired output:
empid       orderyear   numorders
----------- ----------- -----------
1           2014        1
1           2015        1
1           2016        1
2           2015        1
2           2015        2
2           2016        1
3           2014        2
3           2016        2

**Proposition:**

The query retrieves data concerning the count of orders made by each employee in the years 2014, 2015, and 2016 from the `EmpYearOrders` table. It transforms the yearly order count columns into rows and excludes any rows where the count is zero.

**Tables involved:**

The table involved in this query is `dbo.EmpYearOrders` from the current database context which is presumably `TSQLV4`.

**Columns:**

In the query:
- `empid`
- `cnt2014`
- `cnt2015`
- `cnt2016`

After processing through the `CASE` and `UNPIVOT` statements, the output columns are:
- `empid`
- `orderyear`
- `numorders`

**Predicate:**

The predicate involves:
- An `UNPIVOT` operation which transforms the columns `cnt2014`, `cnt2015`, `cnt2016` into rows, with the `numorders` column containing the values and the `orderyear` column indicating the corresponding year.
- A `CASE` statement is used to convert the column names (`cnt2014`, `cnt2015`, `cnt2016`) into actual year values (2014, 2015, 2016).
- A `WHERE` clause to exclude rows where `numorders` is zero.
- An `ORDER BY` clause to sort the results by `empid` and the translated `orderyear`.

**Summary:**

The SQL query aims to transform and summarize the order counts per employee from a columnar yearly representation to a row-based representation for each year, excluding years with zero orders, thereby enabling a more detailed and chronological analysis of employee performance over the specified years.

In [8]:
-- Select the employee ID, the actual order year, and the number of orders
SELECT 
    empid, 
    CASE orderyear -- Translate the column names into actual year values
        WHEN 'cnt2014' THEN 2014
        WHEN 'cnt2015' THEN 2015
        WHEN 'cnt2016' THEN 2016
    END as orderyear, 
    numorders
FROM 
(
    -- Subquery to select the relevant columns from the EmpYearOrders table
    SELECT empid, cnt2014, cnt2015, cnt2016
    FROM dbo.EmpYearOrders
) AS sourceTable
-- The UNPIVOT operator converts the three columns of order counts into rows
UNPIVOT
(
    numorders FOR orderyear IN (cnt2014, cnt2015, cnt2016)
) AS unpivotedTable
-- Exclude rows where the number of orders is zero
WHERE numorders != 0
-- Order the result set by employee ID and year for clarity
ORDER BY empid, orderyear;

empid,orderyear,numorders
1,2014,26
1,2015,55
1,2016,42
2,2014,16
2,2015,41
2,2016,39
3,2014,18
3,2015,71
3,2016,38
4,2014,31
4,2015,81
4,2016,44
5,2014,11
5,2015,18
5,2016,13
6,2014,15
6,2015,33
6,2016,19
7,2014,11
7,2015,36
7,2016,25
8,2014,19
8,2015,54
8,2016,31
9,2014,5
9,2015,19
9,2016,19