**Prithibi Paul | Group 6 | Questions 4 and 5**

**Question 4:**

In [ ]:
-- Question 4: 
-- Return orders with total value(qty*unitprice) greater than 10000
-- sorted by total value
-- Tables involved: Sales.OrderDetails table

-- Desired output:
orderid     totalvalue
----------- ---------------------
10865       17250.00
11030       16321.90
10981       15810.00
10372       12281.20
10424       11493.20
10817       11490.70
10889       11380.00
10417       11283.20
10897       10835.24
10353       10741.60
10515       10588.50
10479       10495.60
10540       10191.70
10691       10164.80

(14 row(s) affected)

**<u>Explanation for the TSQLV4 Database Query</u>**

1\. Database Context: 'USE \[TSQLV4\]' sets the context to the TSQLV4 database.

2\. SELECT Clause:

   - 'od.orderid': Selects the order ID from the \[Sales\].\[OrderDetails\] table.

   - 'SUM(od.qty \* od.unitprice) AS totalvalue': Calculates the total value of each order by multiplying quantity (od.qty) by unit price (od.unitprice) and summing these products, aliasing the result as 'totalvalue'.

3\. FROM Clause:

   - Specifies the \[Sales\].\[OrderDetails\] table as the data source, aliasing it as 'od'.

4\. GROUP BY Clause:

   - Groups the results by 'od.orderid' to apply the SUM function to each unique order ID.

5\. HAVING Clause:

   - Filters the results to include only those groups where the total value exceeds 10,000.

6\. ORDER BY Clause:

   - Sorts the resulting order IDs by their calculated total value in descending order.

**<u>Explanation for the Northwinds2022TSQLV7 Database Query</u>**

1\. Database Context: 'USE \[Northwinds2022TSQLV7\]' switches context to operate on the Northwinds2022TSQLV7 database.

2\. SELECT Clause:

   - 'od.OrderId': Selects the Order ID from the \[Sales\].\[OrderDetail\] table.

   - 'SUM(od.Quantity \* od.UnitPrice) AS totalvalue': Calculates the total value for each order by multiplying 'od.Quantity' by 'od.UnitPrice', aliasing the result as 'totalvalue'.

3\. FROM Clause:

   - Specifies the \[Sales\].\[OrderDetail\] table as the data source, using 'od' as an alias.

4\. GROUP BY Clause:

   - Groups the data by 'od.OrderId'.

5\. HAVING Clause:

   - Filters to include only those orders where the total value is more than 10,000.

6\. ORDER BY Clause:

   - Orders the results by the 'totalvalue' in descending order.

Summary: Both queries are structured to identify and list orders with a total value greater than 10,000 in their respective databases. They perform this by grouping order details by order ID, calculating the total value for each group, and filtering and sorting the results based on this calculated total value. Despite similar structures, each query is tailored to the specific table and column names of its respective database.

In [7]:
USE [TSQLV4]
GO

-- Calculating total value of orders greater than 10000 in TSQLV4 database
SELECT 
    od.orderid, 
    SUM(od.qty * od.unitprice) AS totalvalue -- Calculating total value
FROM 
    [Sales].[OrderDetails] as od
GROUP BY 
    od.orderid
HAVING 
    SUM(od.qty * od.unitprice) > 10000 
    -- Filtering orders with total value greater than 10000
ORDER BY 
    totalvalue DESC; -- Sorting by total value in descending order


USE [Northwinds2022TSQLV7]
GO

-- Calculating total value of orders greater than 10000 in Northwinds2022TSQLV7 database
SELECT 
    od.OrderId, 
    SUM(od.Quantity * od.UnitPrice) AS totalvalue -- Calculating total value
FROM 
    [Sales].[OrderDetail] as od
GROUP BY 
    od.OrderId
HAVING 
    SUM(od.Quantity * od.UnitPrice) > 10000 -- Filtering orders with total value greater than 10000
ORDER BY 
    totalvalue DESC; -- Sorting by total value in descending order

orderid,totalvalue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80

OrderId,totalvalue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80

**Question 5:**

In [ ]:
-- Question 5: 
-- Write a query against the HR.Employees table that returns employees
-- with a last name that starts with a lower case letter.
-- Remember that the collation of the sample database
-- is case insensitive (Latin1_General_CI_AS).
-- For simplicity, you can assume that only English letters are used
-- in the employee last names.
-- Tables involved: Sales.OrderDetails table

-- Desired output:
empid       lastname
----------- --------------------

(0 row(s) affected)

**<u>Explanation for the TSQLV4 Database Query</u>**

1\. Database Context: 'USE TSQLV4' sets the context to the TSQLV4 database.

2\. SELECT Clause:

   - 'empid': Selects the employee ID from the HR.Employees table.

   - 'lastname': Selects the last name of the employee from the HR.Employees table.

3\. FROM Clause:

   - Specifies the HR.Employees table as the data source.

4\. WHERE Clause:

   - 'lastname COLLATE Latin1\_General\_BIN LIKE N'\[a-z\]%'' : Filters the data to include only those employees whose last name starts with a lowercase letter. 

     The COLLATE Latin1\_General\_BIN clause is used to enforce binary collation for case sensitivity, which is necessary due to the case-insensitive nature of the database's collation setting (Latin1\_General\_CI\_AS).

**<u>Explanation for the Northwinds2022TSQLV7 Database Query</u>**

1\. Database Context: 'USE Northwinds2022TSQLV7' switches context to operate on the Northwinds2022TSQLV7 database.

2\. SELECT Clause:

   - 'EmployeeId': Selects the employee ID from the HumanResources.Employee table.

   - 'EmployeeLastName': Selects the last name of the employee from the HumanResources.Employee table.

3\. FROM Clause:

   - Specifies the HumanResources.Employee table as the data source.

4\. WHERE Clause:

   - 'EmployeeLastName COLLATE Latin1\_General\_BIN LIKE N'\[a-z\]%'' : Filters the data to include only those employees whose last name starts with a lowercase letter. 

     The COLLATE Latin1\_General\_BIN clause is used here as well to enforce binary collation for case sensitivity in a case-insensitive collation environment.

  

Summary: Both queries are designed to retrieve employee records where the last name begins with a lowercase letter from their respective databases. This is achieved by enforcing case sensitivity through the use of binary collation (Latin1\_General\_BIN) in the WHERE clause. Each query is tailored to the specific table and column names of its respective database.

In [6]:
-- Query for the TSQLV4 database
USE TSQLV4
GO

-- Retrieving employees from HR.Employees where the last name starts with a lowercase letter.
-- The database uses case-insensitive collation
SELECT 
    empid, 
    lastname 
FROM 
    HR.Employees 
WHERE 
    lastname COLLATE Latin1_General_BIN LIKE N'[a-z]%';


-- Query for the Northwinds2022TSQLV7 database
USE Northwinds2022TSQLV7
GO

-- Retrieving employees from HumanResources.Employee where the EmployeeLastName starts with a lowercase letter.
-- The database uses case-insensitive collation
SELECT 
    EmployeeId, 
    EmployeeLastName 
FROM 
    HumanResources.Employee 
WHERE 
    EmployeeLastName COLLATE Latin1_General_BIN LIKE N'[a-z]%';