**Sabrina Zheng | Group 6 | Lines 202 - 374**

  

\---------------------------------------------------------------------

\-- A Quick Look at Window Functions

\---------------------------------------------------------------------

Write a query that retrieves the orderid, custid, and val from the Sales.OrderValues table and assign a row number within each custid group based on the val column using the ROW\_NUMBER function. The results should be ordered by custid and then val.

In [ ]:
SELECT orderid, custid, val,
  ROW_NUMBER() OVER(PARTITION BY custid
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY custid, val;

\---------------------------------------------------------------------

\-- Predicates and Operators

\---------------------------------------------------------------------

  

Write a query that selects orderid, empid, orderdate from Sales.Orders and filters the results to include only rows where the orderid is among the specified values (10248, 10249, 10250), using the IN predicate.

Then select orderid, empid, and orderdate from the Sales.Orders table. However, and filter the results to include only rows where the orderid falls within the range from 10300 to 10310 using the BETWEEN predicate.

Then select empid, firstname, and lastname from the HR.Employees table, filtering the results to include only rows where the lastname starts with the letter 'D' using the LIKE predicate with %. The N prefix indicates that the string is a Unicode string literal.

In [ ]:
-- Predicates: IN, BETWEEN, LIKE
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid IN(10248, 10249, 10250);

SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid BETWEEN 10300 AND 10310;

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

Write a query that selects orderid, empid, and orderdate from the Sales.Orders table and filters the results to include only rows where the orderdate is greater than or equal to January 1, 2016, using the \>= comparison operator to specify the condition.

In [ ]:
-- Comparison operators: =, >, <, >=, <=, <>, !=, !>, !< 
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101';

Write a query that selects orderid, empid, and orderdate from the Sales.Orders table. and filters the results to include only rows where the orderdate is greater than or equal to January 1, 2016, and the empid is either 1, 3, or 5, using the AND logical operator to combine the conditions.

In [ ]:
-- Logical operators: AND, OR, NOT
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101'
  AND empid IN(1, 3, 5);

Write a query that selects orderid, productid, qty, unitprice, and discount from the Sales.OrderDetails table and calculates a new column named val by multiplying qty with unitprice, subtracting the discount from 1, and then multiplying all three values.

In [ ]:
-- Arithmetic operators: +, -, *, /, %
SELECT orderid, productid, qty, unitprice, discount,
  qty * unitprice * (1 - discount) AS val
FROM Sales.OrderDetails;

\-- Operator Precedence

  

Write a query that selects the orderid, custid, empid, orderdate from Sales.Orders and the query filters the results to include rows where either of the following conditions is true:

  

custid is 1 and empid is either 1, 3, or 5.

custid is 85 and empid is either 2, 4, or 6.

In [ ]:
-- AND precedes OR
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
        custid = 1
    AND empid IN(1, 3, 5)
    OR  custid = 85
    AND empid IN(2, 4, 6);

Write a query that selects the orderid, custid, empid, orderdate from Sales.Orders and filters the results to include rows where either of the following conditions is true:

  

custid is 1 and empid is either 1, 3, or 5.

custid is 85 and empid is either 2, 4, or 6.

In [ ]:
-- Equivalent to
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
      ( custid = 1
        AND empid IN(1, 3, 5) )
    OR
      ( custid = 85
        AND empid IN(2, 4, 6) );

Write a query to show the order of precedence between the multiplication and addition operators and  the result of them.

In [ ]:
-- *, / precedes +, -
SELECT 10 + 2 * 3   -- 16

SELECT (10 + 2) * 3 -- 36

\---------------------------------------------------------------------

\-- CASE Expression

\---------------------------------------------------------------------

  

Write a query that retrieves productid, productname, and categoryid from the Production.Products table. Uses a CASE expression to assign a corresponding category name based on the categoryid. If categoryid matches any of the specified values (1 through 8), it assigns the appropriate category name ('Beverages', 'Condiments', etc.). If the categoryid doesn't match any of these values, it assigns 'Unknown Category'. The result set includes a new column named categoryname representing the category name for each product.

In [ ]:
-- Simple
SELECT productid, productname, categoryid,
  CASE categoryid
    WHEN 1 THEN 'Beverages'
    WHEN 2 THEN 'Condiments'
    WHEN 3 THEN 'Confections'
    WHEN 4 THEN 'Dairy Products'
    WHEN 5 THEN 'Grains/Cereals'
    WHEN 6 THEN 'Meat/Poultry'
    WHEN 7 THEN 'Produce'
    WHEN 8 THEN 'Seafood'
    ELSE 'Unknown Category'
  END AS categoryname
FROM Production.Products;

Write a query that selects orderid, custid, and val from the Sales.OrderValues table using a CASE expression without specifying a column to evaluate. Instead, it checks different conditions for val and assigns corresponding labels to valuecategory. If val is less than 1000.00, it assigns 'Less than 1000'. If val is between 1000.00 and 3000.00, it assigns 'Between 1000 and 3000'. If val is greater than 3000.00, it assigns 'More than 3000'. If none of these conditions are met, it assigns 'Unknown' to valuecategory.

In [ ]:
-- Searched
SELECT orderid, custid, val,
  CASE 
    WHEN val < 1000.00                   THEN 'Less than 1000'
    WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
    WHEN val > 3000.00                   THEN 'More than 3000'
    ELSE 'Unknown'
  END AS valuecategory
FROM Sales.OrderValues;

\---------------------------------------------------------------------

\-- NULLs

\---------------------------------------------------------------------

  

Write a query that 

\-selects custid, country, region, and city from Sales.Customers where the region is equal to 'WA'

\-selects custid, country, region, and city from Sales.Customers where the region is not equal to 'WA'.

\-select custid, country, region, and city from Sales.Customers where the region is equal to NULL. However, comparing to NULL using the = operator won't return any results because NULL isn't equal to anything, including itself.

\-selects custid, country, region, and city from Sales.Customers where the region is NULL. It correctly uses the IS NULL operator to check for NULL values.

\-selects custid, country, region, and city from Sales.Customers where the region is not equal to 'WA' or where the region is NULL. It combines the conditions using the OR logical operator.

In [ ]:
SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region IS NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA'
   OR region IS NULL;

\---------------------------------------------------------------------

\-- All-At-Once Operations

\---------------------------------------------------------------------

Write the following queries

\-selects orderid, YEAR(orderdate) as orderyear, and calculates orderyear + 1 as nextyear from the Sales.Orders table. However, this query is commented out, so it won't be executed.

\-selects col1 and col2 from the dbo.T1 table, filtering rows where col1 is not equal to 0 and the result of col2/col1 is greater than 2.

\-selects col1 and col2 from the dbo.T1 table, applying a conditional logic within a CASE expression. However, it's not standard SQL to use a CASE expression in the WHERE clause like this. This query could be inefficient as it evaluates the condition for each row.

\-selects col1 and col2 from the dbo.T1 table, filtering rows where either (col1 \> 0 AND col2 \> 2\*col1) or (col1 \< 0 AND col2 \< 2\*col1) conditions are met.

In [ ]:
/*
SELECT 
  orderid, 
  YEAR(orderdate) AS orderyear, 
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE col1 <> 0 AND col2/col1 > 2;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE
  CASE
    WHEN col1 = 0 THEN 'no' -- or 'yes' if row should be returned
    WHEN col2/col1 > 2 THEN 'yes'
    ELSE 'no'
  END = 'yes';
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE (col1 > 0 AND col2 > 2*col1) OR (col1 < 0 AND col2 < 2*col1); 
*/

\---------------------------------------------------------------------

\-- Working with Character Data

\---------------------------------------------------------------------

  

\---------------------------------------------------------------------

\-- Collation

\---------------------------------------------------------------------

  

Write a query that

\- retrieves collation information using the system function sys.fn\_helpcollations(). This function returns a list of collations supported by the database.

\-selects empid, firstname, and lastname from the HR.Employees table, filtering rows where the lastname is 'davis'. By default, SQL Server performs a case-insensitive comparison.

\-selects empid, firstname, and lastname from the HR.Employees table, filtering rows where the lastname is 'davis'. However, it uses the COLLATE keyword to apply a specific collation (Latin1\_General\_CS\_AS), which makes the comparison case-sensitive (CS for case-sensitive and AS for accent-sensitive).

In [ ]:
SELECT name, description
FROM sys.fn_helpcollations();

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'davis';

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname COLLATE Latin1_General_CS_AS = N'davis';