Auyon Haque Group 6

In [ ]:
---------------------------------------------------------------------
-- Operators and Functions
---------------------------------------------------------------------

-- Concatenation
SELECT empid, firstname + N' ' + lastname AS fullname
FROM HR.Employees;

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Retrieve a list of employee IDs and their full names from the Employees table in the HR schema, ensuring that the full names are properly formatted with a space between the first and last names.</span>

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;"><br></span>

In [ ]:
-- Listing 2-7: Query Demonstrating String Concatenation
SELECT custid, country, region, city,
  country + N',' + region + N',' + city AS location
FROM Sales.Customers;

 

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Retrieve a list of customer IDs from the Customers table in the Sales schema along with their country, region, and city information formatted as a single string in the format 'country,region,city'</span>

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;"><br></span>

In [ ]:
-- convert NULL to empty string
SELECT custid, country, region, city,
  country + COALESCE( N',' + region, N'') + N',' + city AS location
FROM Sales.Customers;

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Retrieve a list of customer IDs from the Customers table in the Sales schema along with a formatted location string that combines country, region (if available), and city</span>

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;"><br></span>

In [ ]:
-- using the CONCAT function
SELECT custid, country, region, city,
  CONCAT(country, N',' + region, N',' + city) AS location
FROM Sales.Customers;

Retrieve a list that shows the customer ID and their full location (country, region, and city) in a single column for each customer in the sales database

In [ ]:
SELECT SUBSTRING('abcde', 1, 3); -- 'abc'

SELECT RIGHT('abcde', 3); -- 'cde'

SELECT LEN(N'abcde'); -- 5

SELECT DATALENGTH(N'abcde'); -- 10

SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

SELECT PATINDEX('%[0-9]%', 'abcd123efgh'); -- 5

SELECT REPLACE('1-a 2-b', '-', ':'); -- '1:a 2:b'

Extracting a substring: This operation involves selecting a specific part of a string based on its position and length. 

Getting the right part of a string: This shows how to get the last N characters from a string. 

Calculating the length of a string: Demonstrates how to get the number of characters in a string. 

Calculating the byte length of a string: This is similar to getting the length but focuses on the number of bytes used to store the string, which can be different for Unicode strings.

 Finding the position of a character: Shows how to find the first occurrence of a space character in a string. 

Finding the position of the first digit: Indicates how to find the location of the first digit within a string using a pattern. 

Replacing characters: Demonstrates replacing all instances of one character with another in a string.

In [ ]:
SELECT empid, lastname,
  LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) AS numoccur
FROM HR.Employees;

Retrieve a list that shows how many times the letter 'e' appears in the last name of each employee in the HR database

In [ ]:
SELECT REPLICATE('abc', 3); -- 'abcabcabc'

create a string that repeats 'abc' three times

In [ ]:
SELECT supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Suppliers;

Retrieve a list that formats the supplier IDs from the Production database so that each ID is exactly 10 characters long, padded with leading zeros if necessary

In [ ]:
SELECT STUFF('xyz', 2, 1, 'abc'); -- 'xabcz'

SELECT UPPER('Itzik Ben-Gan'); -- 'ITZIK BEN-GAN'

SELECT LOWER('Itzik Ben-Gan'); -- 'itzik ben-gan'

SELECT RTRIM(LTRIM('   abc   ')); -- 'abc'

SELECT FORMAT(1759, '0000000000'); -- '0000001759'

Retrieve a list that uses the STUFF function, which is used to insert a strting into another string. 

Retrieve a list that uses the UPPER function, which is used to convert all the letters in a string to uppercase 

Retrieve a list that uses the LOWER function which is used to convert all the <span style="color: var(--vscode-foreground);">all the letters in a string to lowercase</span>

<span style="color: var(--vscode-foreground);">Retrieve a list that uses RTRIM function and LTRIM function which are used to remove leading and trailing spaces from a string.&nbsp;</span> 

<span style="color: var(--vscode-foreground);">Retrieve a list that uses FORMAT function which is used to format a number according to the given format</span>

In [ ]:
SELECT COMPRESS(N'This is my cv. Imagine it was much longer.');

/*
INSERT INTO dbo.EmployeeCVs( empid, cv )
  VALUES( @empid, COMPRESS(@cv) );
*/

Retrieve a list that reduces the storage space required for large text fields in a SQL database

In [ ]:
SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

/*
SELECT empid, CAST(DECOMPRESS(cv) AS NVARCHAR(MAX)) AS cv
FROM dbo.EmployeeCVs;
*/

Retrieve a list that does the following, use the COMPRESS function and then immediately decompresses it using the DECOMPRESS function, casting the result back to NVARCHAR(MAX) to view it as the original text. This demonstrates the process of compressing data before storage and decompressing it upon retrieval

In [ ]:
-- STRING_SPLIT
SELECT CAST(value AS INT) AS myvalue
FROM STRING_SPLIT('10248,10249,10250', ',') AS S;

/*
myvalue
-----------
10248
10249
10250
*/

Retrieve a list that splits a comma-separated string into individual integer values.

In [ ]:
---------------------------------------------------------------------
-- LIKE Predicate
---------------------------------------------------------------------

-- Last name starts with D
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

Retrieve a list that finds all employees in the HR database whose last names begin with the letter 'D'

In [ ]:
-- Second character in last name is e
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'_e%';

Retrieve a list that finds all employees in the HR database whose last names have 'e' as the second letter

In [ ]:
-- First character in last name is A, B or C
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[ABC]%';

Retrieve a list that finds all employees in the HR database whose last names begin with the letter 'A', 'B', or 'C'

In [ ]:
-- First character in last name is A through E
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[A-E]%';

Retrieve a list that finds all employees in the HR database whose last names start with the letter ranging from 'A'-'E'

In [ ]:
-- First character in last name is not A through E
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[^A-E]%';

Retrieve a list that finds all employees in the HR database whose last names do not start with a letter from 'A' to 'E'