Auyon Haque question 6 

  

```
-- 6
-- Explain the difference between the following two queries

-- Query 1
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

-- Query 2
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';

```

. 

Query 1 

SELECT empid, COUNT(\*) AS numorders

this line selects the employee id and counts the numbers of order for each employee. The column containing the count of orders will be labeled as numorders, which will also be the output.

FROM Sales.Orders 

this line specifies the source of the data for the query.

WHERE orderdate \< '20160501'

this line filters the rows to only show where the orderdate is before May 1st , 2016

GROUP BY empid 

this line groups the selected rows by each employee id

Query 2

SELECT empid, COUNT(\*) AS numorders

this line selects two pieces of infomation the employee ID and total count of orders 

FROM Sales.Orders 

this line specifies the source of the data for the query.

GROUP BY empid 

this line groups the records by employee ID 

HAVING MAXorderdate) \< '20160501';'

this line uses the HAVING clause which filters groups after being formed, which only includes groups employee's who order has been placed on or after the date.

for query one it filters the data using a where clause before grouping, which means only the data that is before may 1 2026 is considered when grouping

for query two it groups the data first then  filters it, which means all rows are considered when grouping 

both queries provide the same output because of the filter the only difference is how much space is used

In [7]:
USE TSQLV4; 
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

empid,numorders
1,118
2,94
3,127
4,154
5,42
6,67
7,70
8,101
9,43

In [8]:
USE TSQLV4; 
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';

empid,numorders
9,43
3,127
6,67
5,42

In [10]:
USE Northwinds2022TSQLV7;
SELECT EmployeeId, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE orderdate < '20160501'
GROUP BY EmployeeId;

EmployeeId,numorders
9,43
3,127
6,67
7,70
1,118
4,154
5,42
2,94
8,101

In [11]:
USE Northwinds2022TSQLV7; 
SELECT EmployeeId, COUNT(*) AS numorders
FROM Sales.[Order]
GROUP BY EmployeeId
HAVING MAX(orderdate) < '20160501';

EmployeeId,numorders
9,43
3,127
6,67
5,42

Auyon Haque Question 7

```
-- 7 
-- Return the three ship countries with the highest average freight for orders placed in 2015
-- Tables involved: Sales.Orders table

-- Desired output:
shipcountry     avgfreight
--------------- ---------------------
Austria         178.3642
Switzerland     117.1775
Sweden          105.16

(3 row(s) affected)
```

In [4]:
USE TSQLV4;

SELECT TOP 3 
    shipcountry,
    AVG(freight) as avgfreight
FROM 
    SALES.Orders
WHERE
    YEAR(orderdate) = 2015
Group BY 
    shipcountry
ORDER BY 
    AVG(freight) DESC;

shipcountry,avgfreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16

In [6]:
USE Northwinds2022TSQLV7; 
SELECT TOP 3 
    ShipToCountry, 
    AVG(Freight) as avgfreight 
FROM 
    Sales.[Order]
WHERE
    YEAR(OrderDate) = 2015
Group BY 
    ShipToCountry 
Order BY 
    AVG(Freight) DESC;

ShipToCountry,avgfreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16

Line by line explaination of sql code 

USE TSQLV4 

this line switches the context to the respective database ie Northwinds2022TSQLV7 or TSQLV4, this means all operations will be performed in that database, ie different tables/cols for each one 

SELECT TOP 3 

this line starts the query by only showing the first 3 rows of the result set 

shipcountry 

this line specifies that the shipcountry from SALES.Orders will be included from the output 

AVG(freight) as avgfreight 

this line calculates the average value of freight column for each group in shipcountry. The result wil be displayed as avgfreight in the output.

FROM SALES.Orders

this line specifies that the data will be taken from the Orders table within SALES schema 

WHERE YEAR(orderdate) = 2015 

this line fitlers the rows to where the orderdate is 2015. The year function takes the year from the orderdate date-time column 

Group BY shipcountry 

this line groups the selcted rows based on the shipcountry column. The AVG(frerght) is calculated on each country separately 

ORDER BY AVG(freight) DESC; 

this line makes sure the results are ordered by average freight value (avgfreight) in descending order(DESC). This means the highest average freight cost wil be at the top of the list. 

This code is same for <span style="color: var(--vscode-foreground);">Northwinds2022TSQLV7 but the tables being called are slightly different</span>

<span style="color: var(--vscode-foreground);">The output are the same each query so that means they are true&nbsp;</span>