```
-- 5
-- Write a query that returns for each customer
-- all orders placed on the customer's last day of activity
-- Tables involved: TSQLV4 database, Orders table

-- Desired output:
custid      orderid     orderdate   empid
----------- ----------- ----------- -----------
1           11011       2016-04-09  3
2           10926       2016-03-04  4
3           10856       2016-01-28  3
4           11016       2016-04-10  9
5           10924       2016-03-04  3
...
87          11025       2016-04-15  6
88          10935       2016-03-09  4
89          11066       2016-05-01  7
90          11005       2016-04-07  2
91          11044       2016-04-23  4

(90 row(s) affected)
```

In [ ]:
USE TSQLV4; -- Specify the database to use

SELECT o.custid, -- Select the custid column from the Orders table
       o.orderid, -- Select the orderid column from the Orders table
       o.orderdate, -- Select the orderdate column from the Orders table
       o.empid -- Select the empid column from the Orders table
FROM Sales.[Orders] o -- Specify Orders as the source table and alias it as o
JOIN (
    SELECT custid, MAX(orderdate) AS last_order_date -- Subquery to find the maximum order date for each customer
    FROM Sales.[Orders]
    GROUP BY custid
) last_orders ON o.custid = last_orders.custid AND o.orderdate = last_orders.last_order_date -- Join the Orders table with the subquery
ORDER BY o.custid ASC; -- Order the result set by custid in ascending order


USE Northwinds2022TSQLV7; -- Specify the database to use

SELECT o.CustomerID, -- Select the CustomerID column from the Order table
       o.OrderID, -- Select the OrderID column from the Order table
       o.OrderDate, -- Select the OrderDate column from the Order table
       o.EmployeeID -- Select the EmployeeID column from the Order table
FROM Sales.[Order] o -- Specify Order as the source table and alias it as o
JOIN (
    SELECT CustomerID, MAX(OrderDate) AS last_order_date -- Subquery to find the maximum order date for each customer
    FROM Sales.[Order]
    GROUP BY CustomerID
) last_orders ON o.CustomerID = last_orders.CustomerID AND o.OrderDate = last_orders.last_order_date -- Join the Order table with the subquery
ORDER BY o.CustomerID ASC; -- Order the result set by CustomerID in ascending order

**Proposition:**

The proposition in both cases is to retrieve specific data from the database. In the first query, the proposition is to retrieve data related to orders, specifically the `custid`, `orderid`, `orderdate`, and `empid` of each order. In the second query, the proposition is similar, but it's focused on the Northwinds2022TSQLV7 database, retrieving `CustomerID`, `OrderID`, `OrderDate`, and `EmployeeID` of each order.

**Tables involved:**

- In the first query, the table involved is `Sales.Orders` from the TSQLV4 database.
- In the second query, the table involved is `Sales.Order` from the Northwinds2022TSQLV7 database.

**Columns:**

- In the first query:
  - `o.custid`
  - `o.orderid`
  - `o.orderdate`
  - `o.empid`
- In the second query:
  - `o.CustomerID`
  - `o.OrderID`
  - `o.OrderDate`
  - `o.EmployeeID`

**Predicate:**

The predicate in both queries involves joining the main table (`Sales.Orders` or `Sales.Order`) with a subquery that finds the maximum order date for each customer (`last_orders`). This is achieved by grouping the orders by `custid` or `CustomerID` and then joining based on both `custid`/`CustomerID` and `orderdate`/`OrderDate`. This predicate ensures that we retrieve only the orders placed on the last order date for each customer.

These SQL queries essentially aim to retrieve the latest order for each customer by finding the maximum order date for each customer and then joining with the main orders table to fetch the corresponding order details.

The `ORDER BY` clause at the end of each query ensures that the results are sorted by the specified column (`o.custid` in the first query and `o.CustomerID` in the second query) in ascending order.

```
-- 6
-- Write a query that returns customers
-- who placed orders in 2015 but not in 2016
-- Tables involved: TSQLV4 database, Customers and Orders tables

-- Desired output:
custid      companyname
----------- ----------------------------------------
21          Customer KIDPX
23          Customer WVFAF
33          Customer FVXPQ
36          Customer LVJSO
43          Customer UISOJ
51          Customer PVDZC
85          Customer ENQZT
```

In [ ]:
USE TSQLV4; -- Specify TSQLV4 database


SELECT DISTINCT c.custid, c.companyname -- Retrieve the custid and companyname of customers who placed orders in 2015 but not in 2016
FROM Sales.Customers c -- Specify Customers as the source table and alias it as c
JOIN Orders o2015 ON c.custid = o2015.custid AND YEAR(o2015.orderdate) = 2015 -- Join Customers with Orders placed in 2015
LEFT JOIN Orders o2016 ON c.custid = o2016.custid AND YEAR(o2016.orderdate) = 2016 -- Left join Customers with Orders placed in 2016
WHERE o2015.custid IS NOT NULL -- Filter out customers who placed orders in 2015
AND o2016.custid IS NULL -- Filter out customers who didn't place orders in 2016
ORDER BY c.custid; -- Order the result set by custid


USE Northwinds2022TSQLV7; -- Specify Northwinds2022TSQLV7 database

-- Retrieve the distinct custid and companyname of customers who placed orders in 2015 but not in 2016
SELECT DISTINCT c.CustomerID AS custid, c.CustomerCompanyName AS companyname 
FROM Sales.[Customer] c -- Specify Customers as the source table and alias it as c
JOIN Sales.[Order] o2015 ON c.CustomerID = o2015.CustomerID AND YEAR(o2015.OrderDate) = 2015 -- Join Customers with Orders placed in 2015
LEFT JOIN Sales.[Order] o2016 ON c.CustomerID = o2016.CustomerID AND YEAR(o2016.OrderDate) = 2016 -- Left join Customers with Orders placed in 2016
WHERE o2015.CustomerID IS NOT NULL -- Filter out customers who placed orders in 2015
AND o2016.CustomerID IS NULL -- Filter out customers who didn't place orders in 2016
ORDER BY c.CustomerID; -- Order the result set by custid

**Proposition:**
Retrieve the distinct `custid` and `companyname` of customers who placed orders in 2015 but not in 2016.

**Tables involved:**
- `Sales.Customers`: Holds customer data.
- `Orders`: Represents orders data.

**Columns:**
- `c.custid`: Customer ID.
- `c.companyname`: Company name of the customer.
- `o2015.orderdate`: Order date from 2015.
- `o2016.orderdate`: Order date from 2016.

**Predicate:**
- Join `Sales.Customers` with `Orders` placed in 2015 (`o2015`) and those placed in 2016 (`o2016`).
- Filter out customers who placed orders in 2015 but not in 2016.

```
-- 7 (Optional, Advanced)
-- Write a query that returns customers
-- who ordered product 12
-- Tables involved: TSQLV4 database,
-- Customers, Orders and OrderDetails tables

-- Desired output:
custid      companyname
----------- ----------------------------------------
48          Customer DVFMB
39          Customer GLLAG
71          Customer LCOUJ
65          Customer NYUHS
44          Customer OXFRU
51          Customer PVDZC
86          Customer SNXOJ
20          Customer THHDP
90          Customer XBBVR
46          Customer XPNIK
31          Customer YJCBX
87          Customer ZHYOS
```

In [ ]:
USE TSQLV4; -- Specify TSQLV4 database

SELECT DISTINCT c.custid, c.companyname -- Retrieve the custid and companyname of customers who ordered product 12 (no duplicates)
FROM Sales.Customers c -- Specify Customers as the source table and alias it as c
JOIN Sales.Orders o ON c.custid = o.custid -- Join Customers with Orders
JOIN Sales.OrderDetails od ON o.orderid = od.orderid -- Join Orders with OrderDetails
WHERE od.productid = 12 -- Filter out orders for product 12

USE Northwinds2022TSQLV7; -- Specify Northwinds2022TSQLV7 database

SELECT DISTINCT c.CustomerID AS custid, c.CustomerCompanyName AS companyname -- Retrieve the custid and companyname of customers who ordered product 12
FROM Sales.[Order] o -- Specify Orders as the source table and alias it as o
JOIN Sales.OrderDetail od ON o.OrderID = od.OrderID -- Join Orders with OrderDetails
JOIN Sales.[Customer] c ON o.CustomerID = c.CustomerID -- Join Customers with Orders
WHERE od.ProductID = 12 -- Filter out orders for product 12
ORDER BY custid; -- Order the result set by custid

**Proposition**: Retrieve the distinct customer IDs (`custid`) and company names (`companyname`) of customers who ordered product 12.

**Tables involved**:
- Customers: Represented by the table `Sales.Customers`, aliased as `c`.
- Orders: Represented by the table `Sales.Orders`, aliased as `o`.
- OrderDetails: Represented by the table `Sales.OrderDetails`, aliased as `od`.

**Columns**:
- `c.custid`: Customer ID column from the Customers table.
- `c.companyname`: Company name column from the Customers table.

**Predicate**:
- **Join Conditions**: 
  - Join `Customers` with `Orders` on the `custid` column to link customers with their orders.
  - Join `Orders` with `OrderDetails` on the `orderid` column to link orders with their details.
- **Filtering**:
  - Filter rows where the `productid` in `OrderDetails` is equal to 12, indicating orders for product 12.
- **Distinct**: 
  - Use `DISTINCT` to ensure that only unique combinations of customer ID and company name are returned.

```
-- 8 (Optional, Advanced)
-- Write a query that calculates a running total qty
-- for each customer and month using subqueries
-- Tables involved: TSQLV4 database, Sales.CustOrders view

-- Desired output:
custid      ordermonth              qty         runqty
----------- ----------------------- ----------- -----------
1           2015-08-01 00:00:00.000 38          38
1           2015-10-01 00:00:00.000 41          79
1           2016-01-01 00:00:00.000 17          96
1           2016-03-01 00:00:00.000 18          114
1           2016-04-01 00:00:00.000 60          174
2           2014-09-01 00:00:00.000 6           6
2           2015-08-01 00:00:00.000 18          24
2           2015-11-01 00:00:00.000 10          34
2           2016-03-01 00:00:00.000 29          63
3           2014-11-01 00:00:00.000 24          24
3           2015-04-01 00:00:00.000 30          54
3           2015-05-01 00:00:00.000 80          134
3           2015-06-01 00:00:00.000 83          217
3           2015-09-01 00:00:00.000 102         319
3           2016-01-01 00:00:00.000 40          359
```

In [ ]:
USE TSQLV4;

SELECT 
    co.custid, -- Select the customer ID
    co.ordermonth, -- Select the order month
    co.qty, -- Select the quantity for each order
    SUM(co.qty) OVER (
        PARTITION BY co.custid -- Group by customer ID
        ORDER BY co.ordermonth -- Order by order month within each group
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW -- Calculate the running total
    ) AS runqty -- Alias for the running total quantity
FROM 
    Sales.CustOrders co -- Specify the CustOrders view and alias it as co
ORDER BY 
    co.custid, co.ordermonth; -- Order the result set by customer ID and order month


USE Northwinds2022TSQLV7; -- Specify the Northwinds2022TSQLV7 database

SELECT 
    o.CustomerId AS custid, -- Select the customer ID
    CONVERT(date, o.OrderDate, 120) AS ordermonth, -- Convert the order date to month format
    od.Quantity AS qty, -- Select the quantity for each order
    (
        SELECT SUM(inner_od.Quantity) -- Calculate the running total quantity for each customer and month
        FROM Sales.[OrderDetail] inner_od -- Subquery to get the running total
        JOIN Sales.[Order] inner_o ON inner_od.OrderID = inner_o.OrderID -- Join Order Details with Orders
        WHERE inner_o.CustomerID = o.CustomerID -- Match the customer ID
            AND CONVERT(date, inner_o.OrderDate, 120) <= CONVERT(date, o.OrderDate, 120) -- Consider orders up to the current month
    ) AS runqty -- Alias for the running total quantity
FROM 
    Sales.[OrderDetail] od -- Specify the Order Details table and alias it as od
JOIN 
    Sales.[Order] o ON od.OrderID = o.OrderID -- Join Order Details with Orders
ORDER BY 
    o.CustomerID, ordermonth; -- Order the result set by customer ID and order month

**Proposition**:

We aim to calculate the running total quantity for each customer and month using the `CustOrders` view in the Northwinds2022TSQLV7 database.

**Tables involved**:

- `CustOrders` (view): Contains data about customers' orders, including customer ID, order month, and quantity.
  
**Columns**:

- `custid`: Represents the customer ID.
- `ordermonth`: Denotes the month of the order.
- `qty`: Indicates the quantity for each order.
- `runqty`: Represents the running total quantity for each customer and month.

**Predicate**:

The `SUM()` function with the `OVER` clause partitions the data by customer ID (`PARTITION BY co.custid`), orders it by order month (`ORDER BY co.ordermonth`), and calculates the running total quantity (`ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW`).

In [ ]:
--PART 2
USE TSQLV4;

SELECT custid, orderid, orderdate, empid
FROM Sales.Orders
WHERE custid IN
  (SELECT C.custid
   FROM Sales.Customers AS C
   WHERE C.country = N'USA');

I have two tables in my **Sales** database: `Sales.Orders` and `Sales.Customers`. I need to retrieve a list of orders, but only for those customers who are based in the **USA**. Specifically, I'm looking to see the following fields for these orders:

- Customer ID (`custid`)
- Order ID (`orderid`)
- Order Date (`orderdate`)
- Employee ID (`empid`)

How can I write a SQL query to accomplish this?

---

In [ ]:
USE TSQLV4;
SELECT custid, companyname
FROM Sales.Customers
WHERE custid NOT IN
  (SELECT O.custid
   FROM Sales.Orders AS O);

<span style="color: var(--vscode-foreground);">In my **Sales** database, I have two tables: `Sales.Customers` and `Sales.Orders`. I need to create a SQL query to find customers who have not placed any orders. The information I need includes:</span>  

  

\- Customer ID (\`custid\`)

\- Company Name (\`companyname\`)

  

The query should identify customers from the \`Sales.Customers\` table who do not have any corresponding records in the \`Sales.Orders\` table.

In [ ]:
-- Missing order IDs
USE TSQLV4;
DROP TABLE IF EXISTS dbo.Orders;
CREATE TABLE dbo.Orders(orderid INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY);

Using the `TSQLV4` database, remove the existing `dbo.Orders` table if it exists, and create a new `dbo.Orders` table. The new table should have a column named `orderid` of type INT, which should not allow NULL values, and this `orderid` column should be set as the PRIMARY KEY of the table.

---

In [ ]:
USE TSQLV4;
INSERT INTO dbo.Orders(orderid)
  SELECT orderid
  FROM Sales.Orders
  WHERE orderid % 2 = 0;


In the `TSQLV4` database, there is a requirement to insert data into the `dbo.Orders` table. The task involves selecting and inserting `orderid`s from the `Sales.Orders` table into `dbo.Orders`, but only for those `orderid`s that are even numbers. What would be the appropriate SQL query to accomplish this?

In [ ]:
USE TSQLV4;
SELECT n
FROM dbo.Nums
WHERE n BETWEEN (SELECT MIN(O.orderid) FROM dbo.Orders AS O)
            AND (SELECT MAX(O.orderid) FROM dbo.Orders AS O)
  AND n NOT IN (SELECT O.orderid FROM dbo.Orders AS O);


In the `TSQLV4` database, there is a need to identify missing `orderid`s from the `dbo.Orders` table. The requirement is to select numbers (`n`) from the `dbo.Nums` table which fall within the range of the minimum and maximum `orderid` values in `dbo.Orders`, but are not present in the `dbo.Orders` table itself. What is the correct SQL query to retrieve these missing order IDs?

In [ ]:
USE TSQLV4;
DROP TABLE IF EXISTS dbo.Orders;


In the `TSQLV4` database, the task is to clean up by removing the `dbo.Orders` table. What SQL command should be used to check if the `dbo.Orders` table exists and, if it does, to drop it?

In [ ]:
-- Orders with maximum order ID for each customer
-- Listing 4-1: Correlated Subquery
USE TSQLV4;

SELECT custid, orderid, orderdate, empid
FROM Sales.Orders AS O1
WHERE orderid =
  (SELECT MAX(O2.orderid)
   FROM Sales.Orders AS O2
   WHERE O2.custid = O1.custid);

In the `TSQLV4` database, there is a requirement to retrieve orders with the maximum `orderid` for each customer from the `Sales.Orders` table. This involves selecting the `custid`, `orderid`, `orderdate`, and `empid` from `Sales.Orders`, but only for those orders that have the highest `orderid` per customer. How should a SQL query be structured to use a correlated subquery for this purpose?

In [ ]:
USE TSQLV4;

SELECT MAX(O2.orderid)
FROM Sales.Orders AS O2
WHERE O2.custid = 85;

In the `TSQLV4` database, the objective is to find the maximum `orderid` for a specific customer, in this case, customer with `custid` 85, from the `Sales.Orders` table. The required query should return the highest `orderid` associated with this customer. How should the SQL query be constructed to achieve this?

In [ ]:
USE TSQLV4;
-- Percentage of customer total
SELECT orderid, custid, val,
  CAST(100. * val / (SELECT SUM(O2.val)
                     FROM Sales.OrderValues AS O2
                     WHERE O2.custid = O1.custid)
       AS NUMERIC(5,2)) AS pct
FROM Sales.OrderValues AS O1
ORDER BY custid, orderid;

In the `TSQLV4` database, there is a task to calculate the percentage contribution of each order's value to the total order value for each customer in the `Sales.OrderValues` table. The query should return the `orderid`, `custid`, and `val` columns, along with the calculated percentage (`pct`). This percentage is to be computed as the order value (`val`) divided by the total value of all orders for that customer, then multiplied by 100, and formatted as a numeric value with two decimal places. The results should be ordered by `custid` and then by `orderid`. What is the appropriate SQL query to perform this calculation?

In [ ]:
USE TSQLV4;
-- Customers from Spain who placed orders
SELECT custid, companyname
FROM Sales.Customers AS C
WHERE country = N'Spain'
  AND EXISTS
    (SELECT * FROM Sales.Orders AS O
     WHERE O.custid = C.custid);

In the `TSQLV4` database, the task is to identify customers from Spain who have placed orders. This requires a query that selects the `custid` and `companyname` from the `Sales.Customers` table for those customers who are located in Spain (`country = N'Spain'`) and have at least one corresponding record in the `Sales.Orders` table. How should the SQL query be structured to use the `EXISTS` clause to check for the presence of orders for these customers?

In [ ]:
USE TSQLV4;
-- Customers from Spain who didn't place Orders
SELECT custid, companyname
FROM Sales.Customers AS C
WHERE country = N'Spain'
  AND NOT EXISTS
    (SELECT * FROM Sales.Orders AS O
     WHERE O.custid = C.custid);


In the `TSQLV4` database, there is a need to identify customers from Spain who have not placed any orders. The requirement is to select the `custid` and `companyname` from the `Sales.Customers` table specifically for those customers who are located in Spain (`country = N'Spain'`) and do not have any corresponding records in the `Sales.Orders` table. What is the correct SQL query to use the `NOT EXISTS` clause for finding these customers?

In [ ]:
--Chapter 5
USE TSQLV4;
DECLARE @empid AS INT = 3;

WITH C AS
(
  SELECT YEAR(orderdate) AS orderyear, custid
  FROM Sales.Orders
  WHERE empid = @empid
)
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM C
GROUP BY orderyear;
GO

In the `TSQLV4` database, there is a requirement to analyze the number of unique customers served by an employee each year. This involves declaring an integer variable `@empid` set to 3, using a Common Table Expression (CTE) to select the year from `orderdate` and `custid` from the `Sales.Orders` table for the specified employee, and then performing a SELECT query to retrieve the year and the count of distinct customers. The query should group the results by year. What is the correct SQL statement to execute this analysis?

In [ ]:
USE TSQLV4;
WITH C1 AS
(
  SELECT YEAR(orderdate) AS orderyear, custid
  FROM Sales.Orders
),
C2 AS
(
  SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
  FROM C1
  GROUP BY orderyear
)
SELECT orderyear, numcusts
FROM C2
WHERE numcusts > 70;

In the `TSQLV4` database, the task is to identify years in which more than 70 unique customers placed orders. This requires using Common Table Expressions (CTEs). The first CTE, `C1`, should extract the year from the `orderdate` and `custid` from the `Sales.Orders` table. The second CTE, `C2`, should calculate the count of distinct `custid`s for each year. Finally, a SELECT query should retrieve the years and customer counts from `C2` where the number of unique customers exceeds 70. What is the appropriate SQL query for this analysis?

In [ ]:
USE TSQLV4;

WITH YearlyCount AS
(
  SELECT YEAR(orderdate) AS orderyear,
    COUNT(DISTINCT custid) AS numcusts
  FROM Sales.Orders
  GROUP BY YEAR(orderdate)
)
SELECT Cur.orderyear, 
  Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
  Cur.numcusts - Prv.numcusts AS growth
FROM YearlyCount AS Cur
  LEFT OUTER JOIN YearlyCount AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;

In the `TSQLV4` database, there's a need to analyze year-over-year customer growth. This involves a Common Table Expression (CTE), `YearlyCount`, to count unique customers per year from `Sales.Orders`. The subsequent query should join `YearlyCount` to itself, comparing customer counts between consecutive years and calculating the growth. What SQL query can achieve this comparison using a left outer join?

In [ ]:
USE TSQLV4;

WITH EmpsCTE AS
(
  SELECT empid, mgrid, firstname, lastname
  FROM HR.Employees
  WHERE empid = 2
  
  UNION ALL
  
  SELECT C.empid, C.mgrid, C.firstname, C.lastname
  FROM EmpsCTE AS P
    INNER JOIN HR.Employees AS C
      ON C.mgrid = P.empid
)
SELECT empid, mgrid, firstname, lastname
FROM EmpsCTE;

In the `TSQLV4` database, how can a recursive Common Table Expression (CTE) be created to display a hierarchy of employees and their managers, starting from employee ID 2? The query should recursively join the `HR.Employees` table to itself and include employee ID, manager ID, first name, and last name.

In [ ]:
USE TSQLV4;
-- Creating USACusts View
DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE VIEW Sales.USACusts
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

SELECT custid, companyname
FROM Sales.USACusts;
GO

The task is to manage a view in the `TSQLV4` database that filters customers from the USA. This involves first dropping the existing view `Sales.USACusts` if it exists, then creating a new view with the same name. The view should select various customer details from the `Sales.Customers` table, specifically for those customers whose country is 'USA'. After creating the view, a query needs to be executed to retrieve the `custid` and `companyname` from this newly created `Sales.USACusts` view. What SQL commands are required to accomplish this?

_Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query._